@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Bienvenido!</h1>
    <a href='@Url.Action("IniciarSesion","Account")'>Iniciar Sesión </a>
    <a href='@Url.Action("Registrarse","Account")'>Registrarse </a>
</div>
